* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

.title1 {
    font-size: 5vw;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.title2 {
    font-size: 3vw;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

/* Animations */
.fade-in-from-bottom {
    opacity: 0; /* Initially hide the element */
    animation: fade-in-bottom 1s ease-in forwards; /* Apply the fade-in animation */
  }
  
  .fade-in-from-left {
    opacity: 0; /* Initially hide the element */
    animation: fade-in-left 1s ease-in forwards; /* Apply the fade-in animation */
    animation-delay: 1s; /* Delay the start of the animation by 1 second */
  }
  
  @keyframes fade-in-bottom {
    from {
      opacity: 0; /* Start with 0 opacity */
      transform: translateY(50px); /* Move the element 50px down */
    }
    to {
      opacity: 1; /* Fade to full opacity */
      transform: translateY(0); /* Move the element back to its original position */
    }
  }
  
  @keyframes fade-in-left {
    from {
      opacity: 0; /* Start with 0 opacity */
      transform: translateX(-250px); /* Move the element 50px to the left */
    }
    to {
      opacity: 1; /* Fade to full opacity */
      transform: translateX(0); /* Move the element back to its original position */
    }
  }
  


/* header & Nav */

header {
    text-shadow: 0px 0px 1px black;
    margin-bottom: 0px;
}

header h3 {
    text-shadow: 2px 2px 10px red;
} 

/* Nav-Bar */

nav {
    background-color: rgba(56, 39, 6, 0.3);
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    padding: 0 100px;
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: 800;
    margin-left: 10px;
    color: white;
}

nav img{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 8px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    padding: 2px 5px;
    border-radius: 3px;
    text-transform: uppercase;    
}
.active, a:hover{
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 1200px){
    label.logo{
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 14px;
    }
    .brand {
        display: none
    }
}
@media (max-width: 1050px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 40%;
        /* height: 35vh; */
        background-color: rgba(56, 39, 6, 0.3);
        top: 50px;
        right: -70%;
        text-align: left;
        transition: all .5s;
        z-index: 10;
    }
    nav ul li{
        display: block;
        margin-top: 5px;
    }
    nav ul li a {
        font-size: 14px;
        font-weight: bold;
    }
    a:hover, a.active{
        background: none;
        
    }
    #check:checked ~ul{
        right: 0;
        margin-right: 0px;
    }
    
}

/* header */

#header-image {
    margin: 0px;
    padding: 0px;
    width: 80%;
    text-align: right;
    float: right;
    /* position: relative;
    right: 0;
    top: -9%;
    border-radius: 50% 0 50% 0 ;
    border: 5px double white;
    box-shadow: 0 8px 6px black; */
}

header {
    padding-top: 150px;
    box-shadow: 0 8px 6px -6px black;
}

.header-detail{
    text-align: center;
    color: white;
    padding-top: 10%;
}

.row h1 {
    font-size: 7vw;
    text-shadow: 2px 2px 4px rgb(34, 25, 2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.row h2 {
    font-size: 4vw;
    text-shadow: 2px 2px 4px rgb(34, 25, 2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.row span {
    font-size: 2vw;
    text-shadow: 1px 1px 2px rgb(34, 25, 2);
}

/* About me section  */

#about {
    margin-top: -50px;
    box-shadow: 0 8px 6px -6px black;
    text-shadow: 0px 0px 1px black;
    text-align: justify;
    font-size:1.2rem;
    padding: 10% 0 12% 0;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about h1 {
    font-size: 5vw;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

/* portfolio section  */

#portfolio {
    margin-top: -30px;
    text-shadow: 0px 0px 1px black;
    box-shadow: 0 8px 6px -6px black;
}    

#portfolio h1 {
    background-color: rgba(255, 255, 255, 0.1);
}
   


#portfolio h3 {
    margin-bottom: 3%;
}

/* contact section  */

#contact {
    margin-top: -30px;
    text-shadow: 0px 0px 1px black;
    padding: 75px 50px;
    box-shadow: 0 8px 6px -6px black;
    text-align: center;
}

#contact h1 {
    text-align: left;
}

#contact i {
    padding: 10px;
}

#contact h4 {
    padding: 10px;
}

#contact button {
    margin-top: 10px;
}

/* media section  */
@media screen and (max-width: 900px) {
    .row h1 {
        font-size: 28pt;
    }
    
    .row h2 {
        font-size: 24pt;
    }

    .row span {
        font-size: 20pt;
    }

    #header-image {
        float: right;
        width: 70%;
        margin-right: 50px;
    }

    #about h1 {
        font-size: 20pt;
    }

    .title1 {
        font-size: 20pt;
        padding: 0px;
    }

    .title2 {
        font-size: 16pt;
    }

    #contact {
        margin-top: -30px;
        padding: 40px;
        box-shadow: 0 8px 6px -6px black;
        text-align: center;
    }
}
